body {
  background-color: lavender;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  text-align: center;
};

section {
  background-color: rgb(18, 19, 19);
  width: max-content;
  margin: auto;
};

section img {
  width: 300px;
  margin: 50px;
}